.card-style {
    width: 24rem;
    border: 1px solid #9e9e9e5e;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container{
    padding: 12px;
    margin: 12px;
}

.txt-center{
    text-align: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  mat-form-field{
      font-size: 13px;
      width: 100%;
  }

  .submit-btn{
      width: 80%;
  }

  ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
} 

.file-div{
    color: #000000a6;
    width: 100%;
    border: 1px solid #e0e0e0;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    text-align: left;
}

.error-msg{
    font-weight: 500;
    font-size: 12px;
    background-color: #f4433638;
    width: 100%;
    padding: 3px;
    margin: 3px;
    color: #f44336;
    border-radius: 2px;
    text-align: center;
}