.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.res-card{
    padding: 4rem;
    margin: 4rem;
    border: 1px solid #9e9e9e5e;
}

.msg-color{
    color: #4caf50;
}